
*.aux
*.log
*.bbl
*.blg
*.gz
*.toc
*.dvi
*.nav
*.out
*.snm
*.lof
*.lot
*.DS_Store*
*/.DS_Store
*.auxlock
*.bak

thesis.pdf
*spiel.pdf
spiel-fig*


pics/*eps-converted-to.pdf
pics/replace.py
subsecs/replace.py
